@using SmsByPost.Models
@{
    ViewBag.Title = "Home Page";
}

<div >
    <div class="panel panel-primary">
        <div class="panel-heading">Send a Message</div>
        <div class="panel-body">
            @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
            {
                <input type="hidden" name="godGuid" value="@Guid.NewGuid()">
                    
                <div class="form-group"><label class="col-sm-3 control-label">Address</label><div class="col-sm-9"><input class="form-control" name="address"></div></div>
                    
                <div class="form-group"><label class="col-sm-3 control-label">Message</label><div class="col-sm-9"><textarea class="form-control" name="message"></textarea></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Class</label><div class="col-sm-9">
                    <div class="radio">
                        <label><input type="radio" name="deliveryType" value="FirstClass" checked>First Class</label>
                    </div>
                </div></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Protection</label><div class="col-sm-9">
                            <div class="radio">
                                <label><input type="radio" name="packagingType" value="@Packaging.Envelope" checked>Envelope</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="packagingType" value="@Packaging.PaddedEnvelope">Padded Envelope</label>
                            </div>    
                            <div class="radio">
                                <label><input type="radio" name="packagingType" value="@Packaging.Parcel">Parcel</label>
                            </div>                                                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Wrapping</label><div class="col-sm-9">
                        <div class="checkbox">
                            <label><input type="checkbox" name="wrappingRequired" value="true">Add Wrapping Paper</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Wrapping Paper Pattern</label><div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="Sun" checked>&#9728;&#9728;&#9728;</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="YingYang">☯☯☯</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="Snow">❄❄❄</label>
                        </div>
                    </div>
                </div>

                <input class="btn btn-default" name="commit" type="submit" value="Send Message">
            }
        </div>
    </div>
</div>