@using SmsByPost.Models
@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div >
    <div class="panel panel-primary">

        <div class="panel-heading">Send a Message</div>
        <div class="panel-body">
            @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { Id = "mainForm"}))
            {
                <input type="hidden" name="godGuid" value="@Guid.NewGuid()">

                <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label><div class="col-sm-9"><input class="form-control" name="address"></div></div>
                <div class="form-group"><label class="col-sm-3 control-label">Message</label><div class="col-sm-9"><textarea class="form-control" id="messagebody" name="message"></textarea></div></div>
                <div class="form-group"><label class="col-sm-3 control-label">Available Characters until next </label><div class="col-sm-9"><span class="form-control" id="available"></span></div></div>
               <div class="form-group"><label class="col-sm-3 control-label">Message Parts</label><div class="col-sm-9"><span class="form-control" id="parts"></span></div></div>
                <div class="form-group"><label class="col-sm-3 control-label">Character Set</label><div class="col-sm-9"><span class="form-control" id="charaterset"></span></div></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Class</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="deliveryType" value="FirstClass" checked>First Class</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Protection</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.Envelope" checked>Envelope</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.PaddedEnvelope">Padded Envelope</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.Parcel">Parcel</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Wrapping</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label><input type="checkbox" id="wrappingrequired" name="wrappingRequired" value="true">Gift wrap this message?</label>
                        </div>
                    </div>
                </div>

                <input class="btn btn-default" name="commit" type="submit" value="Send Message">
            }
        </div>



        <div class="panel-heading">Send a Message</div>
        <div class="panel-body">
           <div class="form-group"><label class="col-sm-3 control-label">Price £</label><div class="col-sm-9"><span class="form-control" id="price"></span></div></div>
        </div>
    </div>
</div>


@section scripts
{
    <script language="javascript">

        function UpdateMessageInfo(MessageInformation) {
            $("#parts").text(MessageInformation.Parts);
            $("#charaterset").text(MessageInformation.CharacterSet);
            $("#available").text(MessageInformation.CharsLeft);
        }

        function UpdatePriceOption(priceOption) {
            var roundedPrice = Math.round((priceOption.Price) * 100) /100;
            $("#price").text(roundedPrice);
        }

        var resultsXHR, resultsTimer, resultsId = 0;

        $('#messagebody').keyup(function() {
            calculate();
        });

        $("input[name=packagingType]:radio").change(function() {
            calculate();
        });

        $("input[name=deliveryType]:radio").change(function () {
            calculate();
        });

        $('#wrappingrequired').change(function () {
            calculate();
        });


        function calculate() {

            if ($("#messagebody").val() == "")
                return;

            var wrappingoption = $("#wrappingrequired").is(':checked') ? "true" : "false";

            var url = "/api/messageinformation?message=" + $("#messagebody").val();
            url += "&isGiftWrapped=" + wrappingoption;
            url += "&protection=" + $('input[name=packagingType]:checked', '#mainForm').val();
            url += "&deliveryMethod=" + $('input[name=deliveryType]:checked', '#mainForm').val();

            clearTimeout(resultsTimer);
            if (resultsXHR) resultsXHR.abort();
            resultsTimer = setTimeout(function() {
                var id = ++resultsId;

                resultsXHR = $.get(url, function(data) {
                    resultsXHR = null;
                    if (id != resultsId)
                        return;
                    UpdateMessageInfo(data.MessageInformation);
                    UpdatePriceOption(data.PriceOption);
                });
            }, 500);
        }

    </script>

}